@page "/dashboard"

@using PersonalFinanceApp.Data.Services


@inject UserAuthState UserAuth
@inject UserInfoService UserInfoService
@inject NavigationManager NavManager


@if (userInfo == null){
    <p><em>Loading your profile...</em></p>
}
else {
    // page loads after db call
    <h1>Hello, @userInfo.FirstName @userInfo.LastName!</h1>
    <p>Welcome to your new app.</p>
    <p>Current session managed for User ID: @UserAuth.CurrentUserId</p>

    <button @onclick="LogoutButton">Logout</button>
}



        


@code {
    
    private UserResult? userInfo;

    protected override async Task OnInitializedAsync()
    {
        // get the basic user info
        if (UserAuth.CurrentUserGuid == Guid.Empty) {
            NavManager.NavigateTo("/login");
            return;
        }
        userInfo = await UserInfoService.GetUserById(UserAuth.CurrentUserGuid);
    }
    

    private async Task LogoutButton() {
        await UserAuth.Logout();
    }
    
    
}