@page "/dashboard"

@using PersonalFinanceApp.Data.Services
@using PersonalFinanceApp.Data.Models
@using PersonalFinanceApp.Shared.Components.Shared.Budget


@inject UserAuthState UserAuth
@inject IUserInfoService UserInfoService
@inject IBudgetService BudgetService
@inject NavigationManager NavManager



@if (userInfo == null){
    <p><em>Loading your profile...</em></p>
}
else {
    // page loads after db call
    <h1>Hello, @userInfo.FirstName @userInfo.LastName!</h1>
    <p>Welcome to your new app.</p>
    
    <BudgetListCard SelectedBudget=@currentBudget updateCurrentBudget="HandleCurrentUpdate" />

    <button @onclick="LogoutButton">Logout</button>
}



        


@code {
    
    private UserResult? userInfo;
    private Guid userGuid;
    private Budget? currentBudget;


    protected override async Task OnInitializedAsync()
    {
        // get the basic user info
        if (UserAuth.CurrentUserGuid == Guid.Empty) {
            NavManager.NavigateTo("/login");
            return;
        }
        userGuid = UserAuth.CurrentUserGuid;
        userInfo = await UserInfoService.GetUserById(userGuid);
        currentBudget = await BudgetService.GetCurrentBudgetById(userGuid);
    }
    
    private async Task HandleCurrentUpdate() {
        await BudgetService.SetCurrentBudget(currentBudget.UserProfileId, currentBudget.Id);
    }

    private async Task LogoutButton() {
        await UserAuth.Logout();
    }
    
    
}