@page "/dashboard"

<h1>Hello, @FirstName @LastName!</h1>

Welcome to your new app.

@code {
    private string FirstName { get; set; } = string.Empty;
    private string LastName { get; set; } = string.Empty;

    
}