@page "/login"
@using Microsoft.Maui.Storage
@using PersonalFinanceApp.Data.Models
@using PersonalFinanceApp.Data.Services
@using PersonalFinanceApp.Shared.Components.Shared.Login
@using System.Diagnostics
@layout EmptyLayout
@attribute [AllowAnonymous]
@inject LoginService LoginService
@inject NavigationManager NavManager
@inject UserAuthState UserAuth

<h1>Welcome to your Personal Finance Manager</h1>

<div class="content">
@if (Stage == LoginStage.EnterUsername) {
    <p>Please enter a username to login or signup.</p>
    <UsernameEntry OnUsernameSubmit="HandleUsernameSubmit" />
}
else if (Stage == LoginStage.Signup) {
    <SignupForm Username="@Username" OnSignupSubmit="HandleSignupSubmit" />
}
else if (Stage == LoginStage.EnterPassword) {
    <PasswordEntry Username="@Username" OnPasswordSubmit="HandleLoginSubmit" PassFail="@PassFail"/>
}
</div>


@code {
    private enum LoginStage {
        EnterUsername,
        Signup,
        EnterPassword
        }

        private LoginStage Stage { get; set; } = LoginStage.EnterUsername;
        private string Username { get; set; } = string.Empty;
        private string Password { get; set; } = string.Empty;
        private string FirstName { get; set; } = string.Empty;
        private string LastName { get; set; } = string.Empty;
        private string Email { get; set; } = string.Empty;
        private string PassFail { get; set; } = "display: none";

        private async Task HandleUsernameSubmit(string username) {
            Username = username;

            bool foundUser = await LoginService.UsernameFound(Username);
            Stage = foundUser ? LoginStage.EnterPassword : LoginStage.Signup;
        }

        private async Task HandleSignupSubmit(SignupModel data) {
            
            await LoginService.CreateUser(data.Username,
            data.Password,
            data.FirstName,
            data.LastName,
            data.Email);
            Username = data.Username;
            Stage = LoginStage.EnterPassword;
            StateHasChanged();
        }

        private async Task HandleLoginSubmit(string password) {
        Password = password;

        try {
            string userId = await LoginService.ValidatePassword(Username, Password);
            if (string.IsNullOrEmpty(userId)) {
                PassFail = "display: block; color: red;";
                StateHasChanged();
                return;
            }

            await UserAuth.Login(userId, Username);
            NavManager.NavigateTo("/dashboard");
        }
        catch (Exception ex) {
            Debug.WriteLine($"Login error: {ex}");
            PassFail = "display: block; color: red;";
            StateHasChanged();
        }
    }
}