@using PersonalFinanceApp.Data.Services

<EditForm Model="this" OnValidSubmit="HandleSubmit" class="site-forms">
    <p>Welcome @Username</p>
    <p style="@PassFail">Invalid password please try again.</p>

    <InputText @bind-Value="Password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</EditForm>



@code {
    [Parameter] public required string Username { get; set; }
    [Parameter] public EventCallback<string> OnPasswordSubmit { get; set; }
    public string Password { get; set; } = string.Empty;
    [Parameter] public string? PassFail { get; set; }

    private async Task HandleSubmit() {
        await OnPasswordSubmit.InvokeAsync(Password);
    }
}